html,body {
  height:100%;
}

.main {
  position: relative;
}

#top-bar {
  background: #039;
}

/* Top bar nav items */
.navbar .nav-item .nav-link {
  color: var(--bg-primary) !important;
  font-size: 24px;
}

.navbar .nav-item .nav-link.active {
  font-weight: 900 !important;
}

#logo-col {
  justify-content: left;
  display: flex;
}

#project-name {
  font-family: monospace !important;
  font-weight: 900 !important;
  font-size: 28px;
}


#experiments-title,
#plots-title {
  margin-top:20px;
}

#experiments-table {
  height: 1100px;
  overflow-y: auto;
}

/* "success" column filter */

#success-filter-checklist {
  flex-direction: row;
  justify-content: center;
}

.success-filter-checklist-label {
  margin-left: 6px;
  margin-right: 6px;
  display: flex; !important
}

.success-filter-checklist-input {
    width: auto !important;
}


/* Dash DataTable - Dark theme */

.dash-cell {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.column-header--sort {
  padding-left: 12px !important;
  padding-right: 8px !important;
}

.dash-filter--case {
  margin-left: 12px !important;
}

.dash-filter input[type=text] {
  color: var(--bs-body-color) !important;
  text-align: left !important;
  margin-left: 12px !important;
}

.first-page,
.previous-page,
.next-page,
.last-page
{
  color: var(--bs-body-color) !important;
  background-color:var(--bs-secondary);
}
.current-page {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-secondary);
}

input.current-page::placeholder {
  color: var(--bs-body-color) !important;
}

/* Tab colors */
.nav .nav-item .active.nav-link {
  background-color: rgb(var(--bs-dark-rgb)) !important;
}

.nav .nav-item .nav-link {
  background-color: #2a2a2a !important;
}


.tab-content {
  width:100%;
  min-height:400px !important;
  background-color: rgb(var(--bs-dark-rgb)); /*#333333;*/
}

.tab-placeholder-container {
  width:100%;
  min-height:400px !important;
  display: table;
  overflow: hidden;
}

.tab-placeholder-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999999;
  width: 500px;
  height: 450px;
}

.add-button-container {
  margin-top:20px;
  display: flex
  align-items: center;
  justify-content: center;
}

#add-button {
  width: 300px;
}

#remove-title {
  margin-top:20px;
}

.remove-button-label {
}

.remove-button {
  width: 90px;
  height: 60px;
  margin: 4px;
  border-color: #666666;
  display: flex
  align-items: center;
  justify-content: center;
}

.remove-button:hover {
  border-color: #999999;
}

.modal-backdrop.show {
  opacity: 0.8;
}

#failed-plotting-alert {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  opacity: 95%;
}

#aggregate-container {
  position: relative;
}

#aggregate-tabs .nav-item {
  width:154px;
}

#aggregate-clipboard {
  position: absolute;
  top: 5px;
  left: 20px;
}

#copy-data-button {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 220px;
  text-align: right;
}


#footer-links div {
  text-align: center !important;
}

#footer-links div a {
  color: white;
  text-decoration: none;
}

#footer-links div  a:hover {
  color: white;
  text-decoration: underline;
}
